@{
    ViewBag.Title = "SMBusiness Consulting";
}

<div class="jumbotron">
    <h1>SMBusiness Consulting</h1>
    <p class="lead">SharePoint App & .NET Development Solutions</p>
    <p style="background-color: white;"class="btn btn-primary btn-lg">@Html.ActionLink("Get a free quote!", "RequestAQuote")</p>
</div>


